#
# {{ ansible_managed }}
#
output {
{% for item in dfv_logstash__output_config %}
  {% if item.template is defined %}
    {% include item.template%}
  {% endif %}

  {% if item.config is defined %}
    {{ item.config }}
  {% endif %}

{% endfor %}

}
